html, body, .principal{
    height: 100%;
    width: 100%;
    overflow: auto;
}

body{
    background-color: lightcyan;
}

.principal{
    display: table;
}

.conteudo-principal{
    display: table-cell;
    vertical-align: middle;
}

.texto{
    text-align: center;
}

.box-contato{
    background-color: white;
    border: 5px solid black;
}

footer{
    padding-top: 100px;
    padding-bottom: 70px;
    background-color: black;
    color: white;
}