html, body{
    overflow: auto;
}


body{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}


/** Home **/

.box-home{
    background: linear-gradient(30deg, black, white);
}

.texto-home{
    color: floralwhite;
}

/** Empreendimentos **/

.texto-empreendimentos{
    color: white
}

/** Obras **/


/** Sobre **/

#sobre{
    color: white;
}
/** Contato **/
#contato{
    color: black;
}

/*---------------- TIPOGRAFIA ----------------*/

h1 {
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}

/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 50px; 
  	}
}

/* sm */
@media screen and (min-width: 768px) {
    h1 {
	    font-size: 70px; 
  	}

}

/* md */
@media screen and (min-width: 992px) {
    h1 {
	    font-size: 80px; 
  	}
}

/* lg */
@media screen and (min-width: 1200px) {
    h1 {
	    font-size: 100px; 
  	}
}
/* Fim Media queries */


h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}